.mainLogo {
  height: 3.5rem;
  border-radius: 50%;
}
.bookNowButtonTopPage{
  height: 30px;
  width: 90px;
  border-radius: 60px;
  text-transform: capitalize;
  border: 1px solid #cdbd7e;
  background-color: #cdbd7e;
  color: white;
}
.Navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.RemoveBulletPoint {
  list-style: none;
}
.MessageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 50vw));
  grid-template-rows: 1fr;
  min-height: auto;
  background-color: #f5eee6;
}
.WelcomeMessage{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  padding: 3rem;

}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  text-transform: capitalize;
  align-items: center;
  margin-bottom: 0;
  font-weight: normal;
  
}

.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0;
  background-color: #252525;
  color: white;
  padding: .5rem;
  
}
.aboutUsButton {
  height: 40px;
  
  width: 150px;
  border-radius: 60px;
  text-transform: capitalize;
  border: 1px solid #cdbd7e;
  background-color: transparent;
}
.SalonSocials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 1fr;
  gap: 1rem;
  padding: 2rem;
  min-height: auto;
}
.SalonName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.Socials {
  display: flex;
  align-items: center;
  justify-content: center;
} 
.Card {
  height: 500px;
}
.BeautifulHair {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  gap: 3rem;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
  text-transform: capitalize;
}
p {
  font-size: 1.2rem;
}
.readMoreButton {
  background-color: #cdbd7e;
  border: 0.5px solid #cdbd7e;
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 60px;
  text-transform: capitalize;
}

.OurServices {
  display: flex;
  flex-direction: column;
  align-items: center;padding: 3rem;
}
.OurWork {
  display: flex;
  flex-direction: column;
  align-items: center;padding: 3rem;
}
.ServiceGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  min-height: auto;
  gap: 1rem;
  padding: 3rem;
}
.ServiceFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1.5rem;
  border: .1rem solid rgb(202, 192, 192);
}
.WhyChooseUsGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 40vw));
  grid-template-rows: 1fr;
  gap: 2rem;
  padding: 3rem;
  min-height: auto;
  background-color: #f6f9f9;
}
.LogoPicture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.WhyChooseUs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
}
.OurWorkGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 30vw));
  grid-template-rows: repeat(2, 1fr);
  gap:1rem

}
.ourWorkButton {
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 60px;
  text-transform: capitalize;
  border: 1px solid #cdbd7e;
  background-color: #cdbd7e;
}
.container {
  max-width: 60vw;
  /* had a had times figuring out how to make the pictures in my bootstrap carousel smaller, while maitaining aspect ratio. This worked! */
}
.viewAllOurWork {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.latestNews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  text-align: center;
  gap: 2rem;
}
.newsFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.bookNow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  padding: 3rem;
}
.bookNowGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 50vw));
  grid-template-rows: 1fr;
  min-height: auto;
  background-color: #f6f9f9;
  padding: 2rem;
  padding-bottom: 0;
}
.buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}
.bookNowButton {
  width: 250px;
  height: 35px;
  font-family: "Playfair Display", serif;
  min-width: 150px;
  height: 42px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  padding: 0 35px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: #252525;
  border: 1px solid #252525;
  border-radius: 60px;
  background-color: #cdbd7e;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
.contactUsButton {
  height: 42px;
  width: 170px;
  border-radius: 20px;
  border: 1px solid black;
  text-transform: uppercase;
  background-color: transparent;
}
.openHoursAndContactGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 1fr;
  gap: 1rem;
  padding: 2rem;
  min-height: auto;
}
.openHoursAndContact {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 3rem;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  display: flex;
  border-top: 2px solid #bea993c1;
  margin-left: 10vw;
  width: 80vw;
}

.logo-size {
  border-radius: 60px;
  margin: 25px 0 10px 100px;
  width: 350px;
}
